
<div class="card my-2 bg-black-50 mx-4">
  <div class="card-header"> <i class="fas fa-user-edit"></i></i> <span class=" text-info font-weight-bold fs-5 text-warning">{{user.userName}}</span>  <span class=" text-info font-weight-bold float-end">{{ format_date date_created}}</span> </div>
  <div class="card-body">
    <p class="card-text"><i class="far fa-comment-dots"></i> {{content}}</p>
    
  </div>
</div>