<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
   
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
</head>
  <body>
    
  <div class="flex-column justify-space-around">
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="btn navbar-brand mx-3" href="/">
    <img src="/images/logo.png" width="200"  alt="logo">
  </a>

  <ul class="nav justify-content-end fs-5 mx-3">
{{#if logged_in}}
     <li class="nav-item">
    <a class="btn nav-link text-danger" href="/"><i class="fas fa-home"></i></a>
  </li>
  <li class="nav-item ">
    <a class="btn nav-link active .text-black-50" href="/profile"><i class="fas fa-id-card"></i> Profile</a>
  </li>

   <li class="nav-item">
    <a class="btn nav-link" id= "logout" href="/"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="btn nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
  </li>
  <li class="nav-item">
    <a class="btn nav-link" href="/register"><i class="fas fa-user-plus"></i> Register</a>
  </li>
 
  {{/if}}
 
  
</ul>
</nav>


    <main class="container container mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
 
    </footer>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    
    ></script>
    <script
      src="/js/bootstrap.min.js"
  
    ></script>

<script src="/js/script.js"></script>
 
</body>

</html>
