
{{#if logged_in}}
<div class="alert alert-danger" role="alert">
  <h1 class="fs-4"><i class='fas fa-user-check' style='font-size:28px;color:red'></i> {{userName}}</h1>
</div>
{{/if}}
<ol class="list-group ">
  {{#each posts as |post|}}

  <li class="list-group-item my-3 bg-dark">
    {{> post-info post }}
 <p class="my-4"><span><i class="fas fa-comment text-warning fs-5"> Comments</i></span> <span class=" float-end" id=""> <a href="/comment/{{post.id}}"><i  class=" fas fa-reply text-info "> Reply</i></a></span></p>

    {{#each post.comments as |cmnt| }}
        {{> comment cmnt}}
    {{/each}}
    </li>
  {{/each}}
</ol>