<div id="alertMessage" class="alert alert-warning alert-dismissible fade " role="alert">
  <strong><i class="fas fa-exclamation-triangle"></i></strong> <span>Error Message</span> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt text-primary"></i>  Login</h1>

<form class="login-form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label" >Email address</label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

      <p class="lead mt-4">
        No Account? <a href="/register">Register</a>
      </p>
    </div>
  </div>
</div>
  