
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h2 class="text-center mb-3"><i class="fas fa-sign-in-alt text-danger"></i> Add Your comment</h2>

<form class="login-form">
  <div class="invisible" id="post-id">{{post.id}}</div>
  <div class="invisible" id="user-id">{{session.user_id }}</div>
  <div class="mb-2">
    <label for="content" class="form-label"><i class="far fa-comment-dots"></i></label>
    <textarea type="text" class=" form-control my-3" id="comment-content" style="min-height: 150px" placeholder="Your Comment"></textarea>
  

  <button id="addComment" type="submit" class="btn btn-warning"><i class="fas fa-plus-circle"> Add Comment</i></button>

</form>
    </div>
  </div>
</div>
  
