<div class="alert alert-danger" role="alert">
  <span class="fs-4"><i class='fas fa-user-check' style='font-size:28px;color:red'></i> {{currentUser.userName}}</span>
  <span class="fs-4 float-end"><a href="/newPost" class="btn btn-info"><i class="fas fa-plus-circle"> New Post </i></a> </span>

</div>

<ol class="list-group ">
  {{#each blogPosts as |post|}}
        

  <li class="list-group-item my-3 bg-dark">
    {{> post-profile post }}

  <i class="fas fa-comment text-warning fs-3"></i>
    {{#each post.comments as |cmnt| }} 
{{> comment cmnt}}
{{/each}}
</li>
  {{/each}}
</ol>
