<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt text-primary"></i>  Register</h1>

<form class="signup-form">
    <div class="mb-3">
    <label for="name-signup" class="form-label" >Name</label>
    <input type="email" class="form-control" id="name-signup" aria-describedby="userName">
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label" >Email address</label>
    <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup2">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

      <p class="lead mt-4">
        Have An Account? <a href="/login">Register</a>
      </p>
    </div>
  </div>
</div>
<script src="/js/login-signup.js"></script>